<div class="p-3 mt-5 shadow col-md-12 col-lg-10 col-xl-8">
  <%=form_with model: @product do |p|%>
    <div class="mb-3 ">
      <%=p.label :product,"Product name",class: 'form-label h5'%>
      <%=p.text_field :p_name, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%=p.label :product, "Product description",class: 'form-label h5'%>
      <%=p.text_field :p_description, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%=p.label :product, "Product category",class: 'form-label h5'%>
      <%=p.collection_select :product_category_id,ProductCategory.all, :id, :name %>
    </div>
    <div>
    </div>
    <div class="mb-3">
      <%=p.label :product, "Product price",class: 'form-label h5'%>
      <%=p.text_field :p_price, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%=p.submit "Save",class: 'btn btn-primary col-12'%>
    </div>
  <%end%>
</div>
