<%set_title_helper("#{@product.p_name}")%>
<div class="card col-12 col-md-12 col-lg-10 col-xl-8 p-1 shadow mt-3">
  <div class="card img bg-light" style="height:500px">
  </div>
  <div class="card-body">
    <div class="card-title h3 text-center">
      <div class="h6 text-start">
        ID :  <%=@product.id%>
      </div>
      <%=@product.p_name%>
    </div>
    <div class="text-center h5">
      <%=@product.p_description%>
    </div>
    <div class="text-end">
      $ <%="%.2f" % @product.p_price%>
    </div>
    <div class="text-end">
      Cat : <%=@category.name%>
    </div>
  </div>
  <%=link_to "Edit product", edit_product_path(@product) , class:"btn btn-primary mt-2"%>
  <%= link_to 'Delete product', product_path(@product) ,
              data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},class:"btn btn-danger mt-2" %>
</div>
