<!DOCTYPE html>
<html>
  <head>
    <% set_title_helper if !content_for?(:title)%>
    <title><%=yield :title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   </head>
  <body>
    <%set_header_helper%>
    <%=yield :header%>
    <div class="d-flex justify-content-center">
      <%= yield %>
    </div>
  </div>
</body>
</html>
