<!DOCTYPE html>
<html>
  <head>
    <title>ShopApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
      <div class="container-fluid">
        <%= link_to 'ShopApp', root_path, class: 'navbar-brand'%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <div class="dropdown">
                <a class="btn dropdown-toggle" href="<%=products_path%>" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="<%=products_path%>">All products</a></li>
                  <li><a class="dropdown-item" href="<%=new_product_path%>">Add new product</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="btn dropdown-toggle" href="<%=product_categories_path%>" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="<%=product_categories_path%>">Categories list</a></li>
                  <li><a class="dropdown-item" href="<%=new_product_category_path%>">Add category</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <%= form_with url: search_path,class:'d-flex', method: :get do |form| %>
            <%= form.text_field :search, class:'form-control me-2' %>
            <%= form.submit "Search", class:'btn btn-outline-success' %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:delete] %>
        <div class="alert alert-danger" role="alert"><%= flash[:delete] %></div>
      <% end %>
      <div class="d-flex justify-content-center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
